body {
    margin: 0;
}

header {
    background:#ffffffdc;
    color: #6F0E0E;
    padding: 5px;
    height: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #A04242;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.map-logo {
    width: 40px;
    height: 40px;
    margin-right: 0;
}

#map-explorer-text {
    margin: 0;
    margin-left: 0;
}

.header-icons {
    display: flex;
    align-items: center;
    height: 100%;
}

#settings-btn,
#bookmark-btn,
#help-btn {
    margin-right: 20px;
    cursor: pointer;
    color: #A04242;
}

#login-btn {
    cursor: pointer;
    color: white;
    padding: 2.5px 5px;
    border: 1px solid #A04242;
    border-radius: 8px;
    background-color: #A04242;
    margin-right: 10px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    display: none;
}

#search-bar {
    padding: 3px;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 1001; /* Place it above the map */
    margin-top: 35px; /* Adjust as needed */
    border-radius: 20px;
}

#search-input {
    padding: 7px;
    border-width: 2px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border-color: rgb(73, 71, 71);
}

#controls-box {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.695);
    padding: 1px;
    border-radius: 10px 0 0 10px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(34, 33, 33, 0);
}

#controls-box i {
    color: white;
    font-size: 20px;
    margin: 13px;
    cursor: pointer;
}

#map {
    height: 100vh;
}